<p><%= name %></p>
<br>
 <table style="width:100%">
  <tr>
    <td><img src="smiley.jpg" alt="Smiley face" height="150" width="150"> </td>
    <td><iframe width="210" height="150" src="https://www.youtube.com/embed/a3eG2evI9aU"></iframe></td>
  </tr>
</table> 